<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722788071130-st1oguv8vev7gitagjd0t25p7a7ie0hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722788071130-st1oguv8vev7gitagjd0t25p7a7ie0hn</string>
	<key>API_KEY</key>
	<string>AIzaSyDtzMSthuiJHdCPbshmbR2Wcpjwt2J8o8E</string>
	<key>GCM_SENDER_ID</key>
	<string>722788071130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginpage</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-8eb80</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-8eb80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722788071130:ios:5503de61a541b86af8d7e3</string>
</dict>
</plist>